/* Buttons' style */
.btn {
	padding:5px;
	border:2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    text-align: center;
}

.btnDel {
	padding:5px;
	border:2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    color: red;
    text-align: center;
}

.btn_2 {
	background: #c3c6c7;
	background-image: -webkit-linear-gradient(top, #c3c6c7, #4f5254);
	background-image: -moz-linear-gradient(top, #c3c6c7, #4f5254);
	background-image: -ms-linear-gradient(top, #c3c6c7, #4f5254);
	background-image: -o-linear-gradient(top, #c3c6c7, #4f5254);
	background-image: linear-gradient(to bottom, #c3c6c7, #4f5254);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-shadow: 0px 1px 3px #302f30;
	font-family: Arial;
	color: #fcf7fc;
	font-size: 15px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	outline: 0px;
    text-align: center;
}

.btn_2:hover {
	background: #e0e0e0;
	background-image: -webkit-linear-gradient(top, #e0e0e0, #999b9c);
	background-image: -moz-linear-gradient(top, #e0e0e0, #999b9c);
	background-image: -ms-linear-gradient(top, #e0e0e0, #999b9c);
	background-image: -o-linear-gradient(top, #e0e0e0, #999b9c);
	background-image: linear-gradient(to bottom, #e0e0e0, #999b9c);
	text-decoration: none;
    text-align: center;
}

.break {
	height: 45px;
}

.btnBlue {
	width: 100%;
	background-color: #4b7091;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.btnBlue:hover {
	background-color: #285091;
}

.btnBlueborder {
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	background-color: white;
	color: black;
	border: 4px solid #4b7091;
	border-radius: 4px;
}

.btnBlue200 {
	width: 200px;
	background-color: #4b7091;
	color: white;
	padding: 14px 20px;
    border: none;
	border-radius: 4px;
	cursor: pointer;
    margin: 8px 0 8px 470px;
}
.btnBlueRecensione {
	width: 200px;
	background-color: #4b7091;
	color: white;
	padding: 14px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 8px 0 8px 270px;
}

.btnBlue200:hover {
	background-color: #285091;
}

.btnBlueborder200 {
	padding: 10px 10px;
	height: 50%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	background-color: white;
	color: black;
	border: 4px solid #4b7091;
	margin: 4px 2px 4px 470px;
}


#footer p {
	float:right;
	margin-right:40px;
	line-height:100px;
}

#footer a:link, #footer a:visited {
    font-size: small;
	text-decoration:none;
	color:#fff;
    outline: 0px;
}
#footer a:hover {
	color:#fff;
	text-decoration:none;
	border-bottom:1px solid #fff;
	padding-bottom:2px;
    ;
}

#btn_help {
	border:3px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    position: absolute;
    left: 20%;
    bottom: 30%;
    height: 35px;
}

#p_1 {
    color: #FFFFFF;
    font-size: 30px;
    font-family: 'Droid serif', serif;
    font-style: italic;
    padding-left: 10%;
    padding-right: 60%;
}

#table_main {
    position: relative;
    width: 100%;
    height: 350px;
    text-align: center;
    background: url(http://127.0.0.1:8887/css/images/header-wrapper-bg.jpg);
}

/* Languages */
.language {
    position: absolute;
    top: 5%;
    right: 10%;
    resize: 12px;
}

label {
    color: #8aa1b3;
    font-weight: bolder;
    display: block;
}

body {
	margin: 0;
	padding: 0;
	background: #484848 url(http://127.0.0.1:8887/css/images/texture_background.jpg) repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #737373;
}

h2.main{
    margin-top: 4%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
    color: #717777;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: gray;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

.blackclass{
	color: #405668;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #4d9ec1;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}


#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 150px;
}

#header {
	width: 960px;
	height: 150px;
    margin: auto;
    align-items: center;
}

/* Logo */

#logo {
	width: 980px;
	height: 100px;
	margin: 0 auto;
	color: #FFFFFF;
	text-align: center;
}

#logo h1, #logo p {
	display: block;
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0;
	letter-spacing: -1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 54px;
	font-weight: bold;
	color: #FFFFFF;
}

#logo h2 {
    text-align: center;
    font-weight: bold;
    color: #4b7091;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p {
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Page */

#page {
	width: 1400px;
	margin: 0 auto;
	padding: 0;
	background-color: #FFFFFF;
	border-radius: 5px;
}

#page-bgtop {
}


#page-bgbtm {
	margin: 0px;
	padding: 40px 40px 0px 40px;
}

/* Content */

#content {
	float: left;
	width: 1300px;
	padding: 0px 0px 0px 0px;
}

.post {
	clear: both;
	padding: 30px 0px;
	border-bottom: 4px solid #4b7091;
}

.post .title {
	padding-top: 10px;
	letter-spacing: -2px;
}

.post .title a {
	border: none;
	color: #484848;
}

.post .meta {
	display: inline-block;
	padding: 5px 10px;
	background: #000000;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	color: #CCCCCC;
}

.post .meta a {
	color: #FFFFFF;
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.post img
{
	margin-bottom: 2em;
	border-radius: 10px;
}

.break-word {
	word-wrap: break-word;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Topbar */
body {
    margin:0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {
    background-color: #555;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
    ul.topnav li:not(:first-child) {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

/* Calendar */
#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	overflow: hidden;
	width: 960px;
	margin: 0px auto 40px auto;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	display: block;
	padding: 30px 0px;
	line-height: normal;
	text-align: center;
	color: #1F1F1F;
}

#footer a {
	color: #121212;
}

ul#orizzontale li{
	display: inline;
}

/*immagini area viggiatore*/
.cc-selector input{
    margin:0;padding:0;
	-webkit-appearance:none;
	    -moz-appearance:none;
}
.albergo{background-image:url(http://127.0.0.1:8887/css/images/albergo.png);}
.appartamento{background-image:url(http://127.0.0.1:8887/css/images/appartamento.png);}
.beb{background-image:url(http://127.0.0.1:8887/css/images/beb.jpeg);}
.casaVacanza{background-image:url(http://127.0.0.1:8887/css/images/casaVacanza.png);}
.ostello{background-image:url(http://127.0.0.1:8887/css/images/ostello.jpeg);}


.cc-selector input:active +.drinkcard-cc{*opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
	-webkit-filter: none;
	filter: none;
}
.drinkcard-cc{
	cursor:pointer;
	background-size:contain;
	background-repeat:no-repeat;
	display:inline-block;
	width:325px;height:440px;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	-webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
	filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
	-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
	filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras  */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
.span {
	color: #737373;
	font-family: arial, sans-serif;
	font-size: 40px;
	float: left;
}

/*stile text box*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=date], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=radio]{
	height: 20px;
	width: 20px;
}
input[type=radio]:checked{
	height: 23px;
	width: 23px;
}

/* Stile FAQ */

.clearer {
	clear:both;
}
img {
	border:none;
}

.content {
	width:960px;
	height:2000px;
	margin:0 auto;
}
.faq {
	height: 100px;
	margin: 0;
	padding: 0;
	background: #484848 url(http://127.0.0.1:8887/css/images/texture_background.jpg) repeat;
	font-family: 'Open Sans', sans-serif;
	box-shadow:0 2px 8px #999999;
	margin-bottom:50px;
	font-size: 13px;
	color: #737373;
}

.faq p{
	float:right;
	margin-right: 30px;
	line-height: 100px;

}

.faq a:link, .faq a:visited{
	text-decoration: none;
	color: #fff;

}
.faq a:hover{
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid #fff;
	padding-bottom: 4px;
}
.faq h1 {
	color:#fff;
	float:left;
	margin-left:30px;
	line-height:100px;
}

.box {
	padding:20px;
	border:1px solid #D6D6D6;
	box-shadow:0 0 8px #CCCCCC;
	border-radius:3px;
	margin-bottom:20px;
}
.box h2 {
	font-weight:300;
	font-size:18px;
	margin-bottom:10px;
	color:#848484;
}
.box a:link, .box a:visited {
	text-decoration:none;
	color:#000000;
    font-size: large;
}
.box a:hover {
	text-decoration:underline;
	color:#848484;
}
.box p {
	font-weight:100;
	font-size:15px;
	margin-bottom:50px;
}

.btn_3 {
	width:160px;
	height:40px;
	border-radius:4px;
	margin:0 auto 50px;
	background-color:#444;
	border-bottom:2px solid #999;
	text-align:center;
	line-height:40px;
	transition:0.3s;
}
.btn_3:hover {
	background-color:#999;
	cursor:pointer;
}
.btn_3 a:link, #button a:visited {
	text-decoration:none;
	color:#fff;
}

td{
	font-size: large;
}

.btnRimozione{
}




.cliccaQui{
	font-size: 15px;
	color: #4d9ec1;
	text-decoration: underline;
}
.cliccaQui:hover{
	color: #4f5254;
}

.imgInizio{

}
.imgInizio:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}


.recensioni{
	clear: both;
	padding: 30px 0px;
	border-bottom: 3px solid #c3a81a;
	padding-right: 40px;
	width: 75%;

}

.trRec{}

